<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<center>
    <div style="width :80%;background-color:#B3E5FC;">

        <div class="well bg-success" style="height:150px;background-color: #B3E5FC;">
            <div class='well' style="width: 65%;background-color: #E1F5FE;">
                <h1 style="font-size:50px;width: 75%;height: 50%;">JSON-XML UTILITY</h1></div>
        </div>
        <div style="height: 5px;background-color:#4FC3F7;">

        </div>
        <div style="margin-top: 30px;">
            <p style="font-size: 25px">Which type of file do you have?</p>
        </div>
        <div>
            <form>
                <label class="radio-inline" style="font-size: 18px;">
                    <input type="radio" name="optradio" checked>JSON
                </label>
                <label class="radio-inline" style="font-size: 18px;">
                    <input type="radio" name="optradio">XML
                </label></form>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div style="margin-top: 20px;">
                    <button type="button" class="btn btn-default"
                            style="font-size: 18px;margin-bottom: 20px;width: 40%;height: 50px;">Choose
                        File
                    </button>
                </div>
            </div>
            <div class="col-sm-6">
                <div style="margin-top: 20px;">
                    <button type="button" class="btn btn-default"
                            style="font-size: 18px;margin-bottom: 20px;width: 40%;height: 50px;">Clear all
                    </button>
                </div>
            </div>
        </div>
        <div>
            <div class="col-sm-5" style="background-color: #B3E5FC">
                <div class="well" style="height:400px;background-color: #E1F5FE;">
                    <h4>Dashboard</h4>
                    <p>Some text..</p>
                </div>
            </div>
            <div class="col-sm-2" style="background-color: #B3E5FC">
                <div style="height:400px;background-color: #B3E5FC;">
                    <button type="button" class="btn btn-default"
                            style="font-size: 18px;margin-bottom: 40px;margin-top: 60px;height: 45px;width: 90%;">btn1
                    </button>
                    <br>
                    <button type="button" class="btn btn-default"
                            style="font-size: 18px;margin-bottom: 20px;height: 45px;width: 90%;">btn2
                    </button>
                </div>
            </div>
            <div class="col-sm-5" style="background-color: #B3E5FC">
                <div class="well" style="height:400px;background-color:#E1F5FE;">
                    <h4>Dashboard</h4>
                    <p>Some text..</p>
                </div>
            </div>

        </div>
    </div>
</center>

</body>
</html>
